---
layout: default
---
<style type="text/css">
  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
</style>
<div class="main-post-list hidden">
  <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">Collab</span></h1>
  </div>
  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; Tag<a href="/tags"><span class="post-list__meta--tags tags">{{ post.tags }}</span><a class="btn-border-small" href={{ post.url }}>阅读全文...</a></div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
    <script src="./js/TweenLite.min.js"></script>
    <script src="./js/EasePack.min.js"></script>
    <script src="./js/canvas-demo-3.js"></script>
  </ol>

  {% include pagination.html %}

</div>
