<!DOCTYPE html>
<html>

  {% include head.html %}
  <style type="text/css">
      #large-header {
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        z-index: 1;
      }
  </style>
  <body>
    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>
    <script src="../js/rAF.js"></script>
    <script src="../js/canvas.js"></script>
</html>
